DURO_API_KEY=
PRODUCTIONS_VERSIONS_DURO_REMOTE_CHROME_URL=http://127.0.0.1:9222
PRODUCTIONS_VERSIONS_DURO_REMOTE_CHROME_APP_URL=https://mfg.duro.app/dashboard
PRODUCTIONS_VERSIONS_DURO_REMOTE_CHROME_TIMEOUT_SECONDS=30
